/* stilsättning av hela kroppen*/
body {
  margin: 0;
  padding-bottom: 3rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}
/* stilsättning av själva boxen för chatfältet */
#form {
  background: darkkhaki;
  padding: 0.25rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  height: 3rem;
  box-sizing: border-box;
}

/* stilsättning av textfältet innanför chatboxen */
#input {
  border: none;
  padding: 0 1rem;
  flex-grow: 1;
  border-radius: 2rem;
  margin: 0.25rem;
}
/* stilsättning av textfältet innanför chatboxen */
#input,
:focus {
  outline: none;
}
/* stilsättning av knappen "skicka" */
#form > button {
  background: #333;
  border: none;
  padding: 0 1rem;
  margin: 0.25rem;
  border-radius: 3px;
  outline: none;
  color: #fff;
}
/* stilsättning av rutan online */
#onlineDiv {
  position: fixed;
  width: 6rem;
  background-color: darkkhaki;
  border-radius: 0 8px 8px 0;
  text-align: left;
  top: 16rem;
  color: white;
  font: 1rem;
  float: left;
  box-shadow: 0 0 12px 1px rgba(0, 0, 0, 0.35);
}
/* stilsättning av när man för musen över rutan online */
#onlineDiv:hover {
  background-color: khaki;
  box-shadow: 0 0 0px 0px rgba(0, 0, 0, 0.35);
}
/* stilsättning av texten online */
#online {
  font-size: 15px;
  text-align: center;
}
/* stilsättning av rutan som kommer ner när man för musen över onlinerutan */
#onlineRuta {
  display: none;
  min-width: 7rem;
  min-height: 10rem;
  background-color: white;
  color: black;
  text-align: left;
  border-radius: 0 8px 8px 0;
  border: 1px solid black;
  padding: 1rem;
}
/* en ruta kommer fram när man för musen över onlinerutan */
#onlineDiv:hover #onlineRuta {
  display: inline-block;
}
/* utskrift när någon är i skrivande stund */
#anvandareSkriver {
  font-size: 18px;
}

/* stilsättning onlinelistan i onlinerutan*/
ul {
  list-style: none;
}

/* stilsättning av onlinelistan i onlinerutan */
ul li::before {
  content: "\2022";
  color: green;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  font-size: 35px;
}
